#header {
  text-decoration: underline;
  color: blue;
}

/* This header will also be hashed. So unless you import this file as styles and do style.header, then this style will not be applied */
/* https://codesandbox.io/s/ids-with-css-modules-in-react-eishp?file=/src/MyComponent.module.css */
/* Or you have to wrap this also within global */

:global(.button) {
  background: yellow;
}

/* If you are not using css modules, then css-loader converts this file into a javascript module and exports the styles as a string */
/* The same class is injected into the style tag inside the index.html file */

/* 
    
  module.exports = `
     .button {
      background: red;
    }
`;


*/


.container {
  height: 100px;
  width: 100px;
  background: red;
}